TEAMFLOW_ENV=development
TEAMFLOW_API_PORT=8080
TEAMFLOW_WEB_ORIGIN=http://localhost:4200

TEAMFLOW_DB_HOST=localhost
TEAMFLOW_DB_PORT=5432
TEAMFLOW_DB_USER=teamflow
TEAMFLOW_DB_PASSWORD=teamflow_dev_password
TEAMFLOW_DB_NAME=teamflow
TEAMFLOW_DB_SSL_MODE=disable

TEAMFLOW_OIDC_ISSUER=http://localhost:8180/realms/teamflow
TEAMFLOW_OIDC_CLIENT_ID=teamflow-api
TEAMFLOW_OIDC_JWKS_URL=http://localhost:8180/realms/teamflow/protocol/openid-connect/certs
TEAMFLOW_OIDC_CLIENT_SECRET=replace_me
